<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" beStrictAboutTestsThatDoNotTestAnything="false" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="couchbase-access-layer">
      <directory suffix="Test.php">tests</directory>
      <exclude>tests/CouchbaseMock/</exclude>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="tests/coverage/clover.xml" />
      <text outputFile="php://stdout" showUncoveredFiles="true" />
      <html outputDirectory="tests/coverage" />
    </report>
  </coverage>
  <source>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Exception</directory>
      <directory>src/Model/Result.php</directory>
    </exclude>
  </source>
</phpunit>
